.maincont{
  display: flex;
  padding: 10px;
}
textarea{
  width: 100%;
  height: 600px;
}

.inpform{
  width:37%;
}
.btncontainer{
  width: 100%;
  text-align: center;
}
.subbtn{
  background-color: azure;
  padding:5px 10px ;
}

.parseDisp{
  width: 60%;
  padding: 10px 20px;
  /* border: 1px solid; */
  margin-left: 15px;
  /* border-radius: 10px; */
}